@import "../../../../styles/globals.scss";

.main_wrap {
  @include flex-col-box;
}

.main_illust {
  border: 1px solid black;
}

.main_title {
  font-family: $font-bold;
  font-size: 2.5rem;
  color: $color-black;
}

.main_highlight {
  @include highlight;
}
