@import "../../../../styles/globals.scss";

.footer_wrap {
  @include flex-box;
  align-items: flex-start;
  margin: 5.5rem 0 3rem;
  border-top: $border;
}

.footer_left {
  margin-top: 2.75rem;
}

.footer_logo {
  font-family: $font-regular;
  font-size: 1rem;
  color: $color-black;
}

.footer_info {
  margin-top: 0.5rem;
  font-family: $font-light;
  font-size: 0.75rem;
  color: $color-black;
}

.footer_copyright {
  margin-top: 2rem;
  font-family: $font-light;
  font-size: 0.75rem;
  color: $color-black;
  opacity: 0.5;
}

.footer_right {
  margin-top: 0.5rem;
  font-family: $font-regular;
  font-size: 0.75rem;
  color: $color-black;
}
