@import "../../../../styles/globals.scss";

.nav_title {
  font-family: $font-regular;
  font-size: 1.125rem;
  color: $color-black;
  text-decoration: none;
}

.nav_menu {
  @include flex-box;
  justify-content: flex-end;
  font-family: $font-light;
  font-size: 0.875rem;
  color: $color-black;
}

.nav_project {
  padding-right: 2rem;
  border-right: $border;
}

.nav_authorize {
  @include flex-box;
  justify-content: flex-end;
}

.login_btn,
.signup_btn {
  text-decoration: none;
  color: #333333;
}

.nav_li {
  list-style: none;
  margin-left: 2rem;
  cursor: pointer;
}

.popup_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0.7rem;
  width: 9rem;
  height: 6rem;

  background-color: white;
  border: $border;
  border-radius: 3px;
}

.profile_edit,
.logout {
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;

  font-family: $font-light;
  font-size: 0.875rem;
  color: $color-black;

  &:hover {
    font-family: $font-regular;
    cursor: pointer;
    background-color: rgba(229, 229, 229, 0.3);
  }
}
