@import "../../../../styles/globals.scss";

.logout_wrap {
  @include flex-col-box;
  padding: 3rem 5rem;
  background-color: white;
  border: $border;
  border-radius: 3px;
}

.logout_message {
  margin-top: 0.75rem;
  font-family: $font-regular;
  font-size: 1rem;
  color: $color-black;
}

.logout_btn {
  @include button-blue;
  display: inline-block;
  width: 7rem;
  height: 2.25rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;

  font-family: $font-bold;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.profile_wrap {
  background-color: white;
  border: $border;
  border-radius: 3px;
  padding: 3rem 4rem 2rem;
}

.profile_title {
  font-family: $font-bold;
  font-size: 1.25rem;
  color: $color-black;
  text-align: center;
}

.profile_imageWrap {
  margin: 2rem 0 2.5rem;
}

.profile_imageSection {
  text-align: center;
}

.profile_image {
  border-radius: 300px;
}

.profile_imageEditBtn {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: relative;
  bottom: 2.6rem;
  left: 7.85rem;

  border: $border;
  border-radius: 100px;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

.profile_editIcon {
  color: $color-black;

  position: relative;
  left: 0.3rem;
  top: 0.3rem;
}

.profile_imageEditBasic {
  font-family: $font-bold;
  font-size: 0.5rem;
  color: $color-black;
  text-align: center;
  margin-top: -1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.profile_middleWrap {
  width: 12.5rem;
}

.profile_input {
  width: 12.5rem;
  padding: 0.5rem;
  border: $border;
  border-radius: 3px;

  font-family: $font-light;
  font-size: 0.75rem;
  color: $color-black;

  &:focus {
    outline: none;
    border: 1px solid #c0c0c0;
  }
}

.profile_checkWrap {
  margin-top: 0.5rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.check_resultTrue {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  font-family: $font-regular;
  color: #5a9ca1;
  width: 65%;
  flex-wrap: wrap;
}

.check_resultFalse {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  font-family: $font-regular;
  color: #d48181;
  width: 65%;
  flex-wrap: wrap;
}

.profile_checkbtn {
  display: inline-block;
  width: 4.25rem;
  height: 1.625rem;
  line-height: 1.625rem;
  text-align: center;

  border: $border;
  border-radius: 100px;
  background: white;

  font-size: 0.7rem;
  font-family: $font-bold;
  color: #c0c0c0;
  transition-duration: 0.2s;
  width: 30%;

  &:hover {
    cursor: pointer;
  }
}

.profile_btnWrap {
  @include flex-box;
  margin-top: 3rem;
  justify-content: center;
}

@mixin profile_btn {
  display: inline-block;
  width: 4.5rem;
  height: 1.9rem;
  line-height: 1.9rem;
  text-align: center;
  margin: 0 0.25rem;
  font-family: $font-bold;
  font-size: 0.9rem;
  transition-duration: 0.2s;
}

.profile_cancelbtn {
  @include profile_btn;
  background: white;
  border: 1px solid #c0c0c0;
  border-radius: 100px;
  color: #c0c0c0;

  &:hover {
    cursor: pointer;
    background-color: rgba(192, 192, 192, 0.1);
  }
}

.profile_editbtn {
  @include button-blue;
  @include profile_btn;
}
