.overview_left {
  width: 70%;
}

.download_btnWrap {
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
}

.download_btn {
  text-align: center;
  line-height: 2.5rem;
  width: 8rem;
  height: 2.5rem;
  color: #5a9ca1;
  border: 1px solid #5a9ca1;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
}

.start_btnWrap {
  text-decoration: none;
  margin-top: 4rem;
  display: inline-block;
}

.start_btn {
  text-align: center;
  line-height: 2.5rem;
  width: 8rem;
  height: 2.5rem;
  color: #5a9ca1;
  border: 1px solid #5a9ca1;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
}
