@import "../../../../styles/globals.scss";

.comment_wrap {
  border-top: 1px solid #dcdcdc;
  margin-top: 5vh;
}

.comment_number {
  font-family: $font-regular;
  margin: 3vh 0;
}

.comment_inputSection {
  position: relative;
}

.comment_input {
  border: 1px solid #dcdcdc;
  font-family: $font-light;
  font-size: 0.7rem;
  resize: none;
  width: 91%;
  padding: 2vw;
  background-color: rgba(229, 229, 229, 0.3);
  &:focus {
    outline: 1px solid #c0c0c0;
  }
}

.comment_dataSection {
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
}

.comment_leftSection {
  width: 10vw;
  margin-right: 2vw;
}

.comment_rightSection {
  width: 90vw;
}

.comment_userImage {
  position: relative;
  bottom: 2vh;
  border: 1px solid #dcdcdc;
  border-radius: 300px;
  background-color: white;
  width: 5vw;
  height: 5vw;
}

.comment_username {
  font-family: $font-regular;
  font-size: 0.8rem;
}

.comment_time {
  font-family: $font-light;
  font-size: 0.5rem;
  margin-left: 1.5vw;
}

.comment_data {
  margin-top: 1.5vh;
  border: 1px solid #dcdcdc;
  padding: 1.5vw;
  font-family: $font-light;
  font-size: 0.5rem;
}
