@import "../../../../styles/globals.scss";

.toggle_wrap {
  @include flex-col-box;
  align-items: flex-end;
  margin-top: -0.5rem;
}

.toggleBtn_wrap {
  @include flex-box;
}

@mixin toggle-btn {
  $height-toggle: 1.5rem;
  height: $height-toggle;
  line-height: $height-toggle;
  text-align: center;

  border: 1px solid;
  border-radius: 100px;
  background: white;

  font-family: $font-bold;
  font-size: 0.75rem;
  transition-duration: 0.2s;

  &:hover {
    cursor: pointer;
  }
}

.statistics_toggle {
  @include toggle-btn;
  width: 2.75rem;
  color: $color-blue-dark;
}

.python_toggle {
  @include toggle-btn;
  width: 3.5rem;
  margin-left: 0.4rem;
  color: $color-blue;
}

.statisticsToggle_selected {
  color: white;
  border: 1px solid $color-blue-dark;
  background-color: $color-blue-dark;
}

.pythonToggle_selected {
  color: white;
  border: 1px solid $color-blue;
  background-color: $color-blue;
}

@mixin toggle-content {
  @include flex-box;
  padding: 1.5rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
  border-radius: 3px;
}

.statisticsContent_wrap {
  @include toggle-content;
  border: 1px solid #4b6580;
  background-color: rgba(75, 101, 128, 0.1);
}

.statisticsContent_Title {
  width: 40%;
}

.statisticsContent_subTitle {
  font-family: $font-bold;
  font-size: 0.9rem;
  color: #4b6580;
}

.statisticsContent_mainTitle {
  font-family: $font-bold;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.statisticsContent_Des {
  width: 60%;
  font-size: 0.7rem;
  white-space: pre-wrap;
}

.pythonContent_wrap {
  @include toggle-content;
  border: 1px solid $color-blue;
  background-color: rgba(90, 156, 161, 0.05);
}

.pythonContent_Title {
  width: 40%;
}

.pythonContent_subTitle {
  font-family: $font-bold;
  font-size: 0.9rem;
  color: $color-blue;
}

.pythonContent_mainTitle {
  font-family: $font-bold;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.pythonContent_Des {
  width: 60%;
  font-size: 0.7rem;
  white-space: pre-wrap;
}
