.banner_wrap {
  margin-top: 4rem;
  border: 1px solid grey;
  display: flex;
  height: 20rem;
}

.banner_illust {
  width: 50%;
}

.banner_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3rem;
}

.banner_subtitle {
  text-align: right;
  color: gray;
  font-size: 0.8rem;
}

.banner_button {
  text-align: center;
  line-height: 2.5rem;
  width: 10rem;
  height: 2.5rem;
  color: #5a9ca1;
  border: 1px solid #5a9ca1;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.8rem;
}

.banner_buttonName {
  text-decoration: none;
  margin-top: 2rem;
}
