.nav_wrap {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2rem;
}

.nav_titleWrap {
  display: inline-block;
}

.nav_title {
  text-decoration: none;
}

.nav_menu {
  display: flex;
}

.nav_project {
  margin-right: 4rem;
}

.nav_authorize {
  display: flex;
}

.nav_li {
  list-style: none;
}

.nav_li:first-child {
  margin-right: 2rem;
}
