.title_wrap {
  margin: 2rem 0 6rem;
}

.sub_titleWrap {
  text-decoration: none;
  display: inline-block;
  &:first-child {
    margin-right: 1rem;
  }
}

.sub_title {
  color: #5a9ca1;
  font-weight: bold;
}

.main_title {
  padding-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
